@model List<Story>
@{ 
	ViewData["Title"] = "Stories";
	ViewBag.Header = "Fan Stories";
}

@foreach (Story s in Model)
{
<div>
	<h2><b>@s.Title</b></h2>
	@s.Date <br />
	@s.StoryText <br />
	@if (s.Ratings != null)
	{
		<p>Average Rating: @s.AverageRating() / 5</p>
	}
	@if (s.Comments != null)
	{
		<p>Comments:</p>
		<ul>
			@foreach (Comment c in s.Comments)
			{
				<li>@c.CommentText</li>
			}
		</ul>
	}
	<a asp-action="ReviewStory" asp-route-title="@s.Title">Rate and Comment</a>
</div>
}
<br />
<a href="~/story/submitstory">Submit a story</a> <br />
