@model List<Story>
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Stories</title>
</head>
<body>
	@foreach (Story s in Model)
	{
	<div>
		@s.Title <br />
		@s.Date <br />
		@s.UserStory <br />
		@if (s.Ratings.Count > 0)
		{
			<p>Average Rating: @s.AverageRating() / 5</p>
		}
		@if (s.Comments.Count > 0)
		{
			<p>Comments:</p>
			@foreach (String comment in s.Comments)
			{
				<p>@comment</p>
			}
		}

		<a asp-action="ReviewStory" asp-route-title="@s.Title">Rate and Comment</a>
	</div>
	}
	<a href="~/story/submitstory">Submit a story</a> <br />
	<a href="~/">Home</a>
	<a href="~/home/history">Biography</a>
	<a href="~/sources">Sources</a>
</body>
</html>