@model List<Story>
@{ 
	ViewData["Title"] = "Stories";
	ViewBag.Header = "Fan Stories";
}

@foreach (Story s in Model)
{
	<div>
		<h2><b>@s.Title</b></h2>
		@s.Date <br />
		@s.UserStory <br />
		@if (s.Ratings.Count > 0)
		{
			<p>Average Rating: @s.AverageRating() / 5</p>
		}
		@if (s.Comments.Count > 0)
		{
			<ul>
				<u>Comments</u>:
				@foreach (String comment in s.Comments)
				{
					<li>@comment</li>
				}
			</ul>
		}

		<a asp-action="ReviewStory" asp-route-title="@s.Title">Rate and Comment</a>
	</div>
}
<br />
<a href="~/story/submitstory">Submit a story</a> <br />
